body {
    background: #46494C;
    color: #ffffff;
    max-width: 1000px;
    margin: 0 auto 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
   }

h1{
    font-size: 20pt;
}
.main_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    border-spacing: 10px;
}

.bordered{
    border: 2px solid chocolate;
    border-radius: 6px;
}

.video_feed {
    display: flex;
}

.live_video{
    width: 100%;
    display: block;
    background-color: #46494C;
    align-self: center;
    flex-direction: column;
}

.middle-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.controls, .settings {
    width: 50%;
    text-align: center;
}

.square_button, .rectangle_button {
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    border: none;
    margin: 10px;
}

.square_button{
    height: 60px;
    width: 60px;
    font-size: 20px;
}

.rectangle_button{
    width: 105px;
    padding: 10px;
    font-size: 20px;
}

.graph {
    flex-grow: 1;
    height: max-content;
}


.video_feed, .controls, .graph, .settings{
    height: auto;
    background-color: #4C5C68;
}

/* slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* end of slider */

@media only screen and (max-width: 680px) { /* stack layout for tablets and phones */
    .layout, .graph, .settings {
      display: block;
    }
    .middle-container{
        flex-direction: column;
    }
    .controls, .settings{
        width: auto;

    }
}

@media only screen and (min-width: 680px){ /* the graph will hide on desktop devices */
    .graph{
        display: none;
    }    
}