body {
    background: #46494C;
    color: #ffffff;
    max-width: 1000px;
    margin: 0 auto 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
   }

h1{
    font-size: 20pt;
}
.main_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    border-spacing: 10px;
}

.bordered{
    border: 2px solid chocolate;
    border-radius: 6px;
}

.video_feed {
    display: flex;
}

.live_video{
    width: 100%;
    padding-bottom: 56.25%; /*auto aspect ratio to fit all devices*/
    display: block;
    background-color: #46494C;
    align-self: center;
    flex-direction: column;
}

.middle-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.controls, .settings {
    width: 50%;
    text-align: center;
}

.square_button, .rectangle_button {
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    border: none;
    margin: 10px;
}

.square_button{
    height: 60px;
    width: 60px;
    font-size: 20px;
}

.rectangle_button{
    width: 105px;
    padding: 10px;
    font-size: 20px;
}

.graph {
    flex-grow: 1;
    height: max-content;
}


.video_feed, .controls, .graph, .settings{
    height: auto;
    background-color: #4C5C68;
}

@media only screen and (max-width: 680px) { /* stack layout for tablets and phones */
    .layout, .graph, .settings {
      display: block;
    }
    .middle-container{
        flex-direction: column;
    }
    .controls, .settings{
        width: auto;

    }
}

@media only screen and (min-width: 680px){ /* the graph will hide on desktop devices */
    .graph{
        display: none;
    }    
}