<!DOCTYPE html>
<html lang="en">
    <head>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <!-- reload webpage with no cache -->
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="0">
        <link rel="stylesheet" href="/static/style.css"/> 
        <link rel="SliderStyle" href="/static/slider.css">
        
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    </head>
    <body>
        <h1 class="heading">Turret Cam</h1>
        <div class="main_container">
            <div class="video_feed"> 
                <div class="live_video bordered">
                    <!-- the src calls the camera function to load the images -->
                    <img src="{{url_for('video')}}" width="100%"/> 
                </div>
            </div>

            <!-- display buttons for the movement controll -->
            <div class="middle-container">
                <div class="controls bordered">
                    <button id="up" class="square_button" onclick="control('u')">up</button>
                    <button id="down" class="square_button" onclick="control('d')">down</button>
                    <button id="left" class="square_button" onclick="control('l')">left</button>
                    <button id="centre" class="square_button" onclick="control('c')">centre</button>
                    <button id="right" class="square_button" onclick="control('r')">right</button>
                </div>
                
                <!-- The $.post() method sends data from the client to the server using a POST request -->
                <script>
                    var recording_on = false;
                    var rec_on
                    function control(input) {
                        if(input=='rec'){
                            recording_on = !recording_on;
                            if(recording_on){
                                document.getElementById('rec_button').style.background='red';
                                document.getElementById('rec_button').textContent='recording'; 
                                document.getElementById('rec_button').style.color='white'; 
                                $.post("/controls",{control: 'rec_on'});                         
                            }else{
                                document.getElementById('rec_button').style.background='#F0F0F0';
                                document.getElementById('rec_button').textContent='record'; 
                                document.getElementById('rec_button').style.color='buttontext';  
                                $.post("/controls",{control: 'rec_off'});
                            }
                        }else{
                            $.post("/controls",{control: input}); 
                        }
                        
                    }
                </script>

                <div class="settings bordered">
                    <div>
                        <label for="speedm">proportional gain: </label><output id="output_speed">1.0</output><br/>
                        <input id="speedm" type="range" min="0.1" max="2.0" value="1.0" step="0.1" oninput="speed(this.value);">
                    </div>
                    
                    <div><button class="rectangle_button" onclick="control('snap')">snapshot</button></div>
                    <div><button class="rectangle_button" id="rec_button" onclick="control('rec')"><div id="recording">record</div></button></div>
                    <div>
                        <label class="switch">face tracking
                            <input id="face_track"  type="checkbox" onchange="face_tracking();" checked = "True">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>

                <script>
                    function speed(multiplier){
                        // grabs the text within the output_speed <output>
                        // and puts it into a variable to be posted
                        document.getElementById('output_speed').innerText = multiplier; 
                        $.post("/speed",{speed: multiplier})
                    }
                    function face_tracking(){
                        // checks the checkbox and posts the bool to the controls function
                        // to turn on or off the face tracking
                        if(document.getElementById('face_track').checked) {
                            $.post("/controls",{control: 'faceTrack_on'})
                        } else {
                            $.post("/controls",{control: 'faceTrack_off'})
                        }
                    }
                </script>

                <div class="graph bordered">graphs</div>
            </div>
        </div>
</html>