<!DOCTYPE html>
<html lang="en">
    <head>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <!-- reload webpage with no cache -->
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="0">
        <link rel="stylesheet" href="/static/style.css"/> 
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    </head>
    <body>
        <h1 class="heading">Turret Cam</h1>
        <div class="table">
            <div class="video_feed"> the video feed 
                <div class="live_video">hello</div>
            </div>

            <!-- <div class="settings"></div> -->

            <!-- display buttons for the movement controll -->
            <div class="middle-container">
                <div class="controls">
                    <button class="square_button" onclick="control('u')">up</button>
                    <button class="square_button" onclick="control('d')">down</button>
                    <button class="square_button" onclick="control('l')">left</button>
                    <button class="square_button" onclick="control('r')">right</button>
                </div>
                
                <!-- The $.post() method sends data from the client to the server using a POST request -->
                <script>
                    var recording_on = false;
                    var rec_on
                    function control(input) {
                        if(input=='rec'){
                            recording_on = !recording_on;
                            if(recording_on){
                                document.getElementById('rec_button').style.background='red';
                                document.getElementById('rec_button').textContent='recording'; 
                                document.getElementById('rec_button').style.color='white'; 
                                $.post("/data/controls",{control: 'rec_on'});                         
                            }else{
                                document.getElementById('rec_button').style.background='#F0F0F0';
                                document.getElementById('rec_button').textContent='record'; 
                                document.getElementById('rec_button').style.color='buttontext';  
                                $.post("/data/controls",{control: 'rec_off'});
                            }
                        }else{
                            $.post("/data/controls",{control: input});
                        }
                        
                    }
                </script>

                <div class="settings">
                    <div> speed multiplier
                    <input class="speedm" type="range" min="0.1" max="2" value="1" step="0.1" oninput="speed(this.nextElementSibling.value = this.value)">
                    <output>1</output></div>
                    
                    <div><button class="rectangle_button" onclick="control('snap')">snapshot</button></div>
                    <div><button class="rectangle_button" id="rec_button" onclick="control('rec')"><div id="recording">record</div></button></div>
                </div>

                <script>
                    function speed(multiplier){
                        $.post("/data/speed",{speed: multiplier})
                    }
                </script>

                <div class="graph">graphs</div>
            </div>
        </div>
</html>